#btn
{
  margin: auto;
}

textarea#tear_desc{
    height:40px;
}

#box-register
{
  text-align: center;
}

h4.titulo{
 background-color: #26A69A;
    font-size: 1.1em;
    line-height: 1.714285714em;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow:1px 1px 0 rgba(0, 0, 0, 0.2);
    
}

.padding-vertical .row{
  padding: 5px 0;
    background-color: #eee;
    margin: 1px 0;
    border-radius: 4px;
    
}

.general{
        border-top: 2px solid #333;
    border-bottom: 2px solid #ccc;
    background-color: #efefef;
    margin: 5px 0;
    
}

.error{
  
   color:red;
    
}


#btn-register
{
  background-color: red;
  color: white;
}

.name
{
  border: 1px solid;
}

#title-search
{
  padding-top: 50px;
}

.button-get-started
{
  padding-top: 60px;
}

.title-area label
{
  font-size: 18px;
  text-decoration: none;
}

.btn-border
{
  border: none;
}

td, th
{
  text-align: center;
}

td .btn-danger
{
  background-color: red;
  color: white;
  border: 1px solid white;
}

td .btn-danger:hover
{
  background-color: red;
  color: white;
  border: 1px solid white;
}

td .btn-primary
{
  background-color: blue;
  color: white;
  border: 1px solid white;
}

.item img, .item{
    
    border-radius: 5px;
}

span.valor{
    font-size: 1.3em;
    color: #01579B;
}

td .btn-primary:hover
{
  background-color: blue;
  color: white;
  border: 1px solid white;
}

.filter.filter-color-blue:before
{
    background: rgb(0, 0, 0);
}

td > .btn.active
{
    background-color: #286090 !important;
}

h4, .h4
{
  background-color: transparent;
  color: black;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


@media screen and (max-width: 992px)
{
  .section-header .content h1
  {
      font-size: 3.5em;
      letter-spacing: 0.07em;
      line-height: 1.7;
  }
  .section-header .parallax, .section-header .static-image {
    height: 80vh;
    padding-bottom: 40em;
  }

  .title-modern
  {
    display: none;
  }

  #encuentra
  {
    display: none;
  }

  .title-area label
  {
    font-size: 17px;
    text-decoration: none;
  }
  .button-get-started
  {
    padding-top: 15px;
  }
}
@media screen and (max-width: 765px)
{
 .title-modern
  {
    margin-top: 35px !important;
    font-size: 45px !important;
  }

  .section-header .content
  {
    top: 47%;
  }

  #title-search
  {
    padding-top: 10px;
  }

  .title-modern
  {
    margin-top: 0px !important;
  }

  .button-get-started
  {
    padding-top: 20px !important;
  }

  .title-area label
  {
    font-size: 16px;
    text-decoration: none;
  }

  #encuentra
  {
    display: none;
  }

  .name
  {
    border: none;
  }
}

@media screen and (max-width: 589px)
{
  .title-modern
  {
    display: none;
  }

  .section-header .content
  {
      top: 56% !important;
  }
}
